*.bmp
*.bz2
*.crc
*.docx
*.gzip
*.gz
*.csv
*.gif
*.hdf5
*.jpg
*.jpeg
*.json
*lzma
*.nc4
*.npy
*.npz
*.parquet
*.pdf
*.png
*.pptx
*.pyc
*.tar
*.tar.gz
*.tgz
*.tar.gzip
*.tar.bz2
*.tbz
*.tbz2
*.tar.bzip2
*tar.Z
*.tfrec
*.Z
*.taz
*.tif
*.tiff
*.txt
*.wav
*.xz
*.xlsx


